<header>
	<%= link_to logo, 'http://localhost:3000/pages/home' %>
	<nav class="round">
		<ul>
			<li>
				<%= link_to "Home", 'http://localhost:3000/pages/home' %>
			</li>
			<li>
				<%= link_to "Help", 'http://localhost:3000/pages/help' %>
			</li>
			<li>
				<%= link_to "Sign in", 'http://localhost:3000/users/new' %>
			</li>
		</ul>
	</nav>
</header>

